---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"

//@import "bootstrap.scss"
@import "a81f9f64-9602-4f25-a246-50f86214cbf3.scss"
@import "font.awesome.scss"
@import "prism.okaidia.scss"

// Some constants
$fntsz: 12

html,body
    margin: 0
    position: relative

.front
    .backgrounds
        position: fixed
        z-index: 1
        width: 100vw
        height: 100vh
        top: 0

        background: #000000

    .info
        position: relative
        z-index: 2

        width: 35%
        padding: 30px

        color: #FFFFFF
        font-family: Roboto Slab

        &:first-of-type
            margin-top: 40vh

        h1, h2, h3, h4, h5, h6
            font-family: Roboto Slab

        p, span, li
            font-family: Oxygen Mono

        a
            color: #FFFFFF

.post
    header
        position: relative
        height: 30%
        height: 40vh
        overflow: hidden
        img
            min-width: 100%
            min-height: 100%
            width: 100%
            position: absolute
            left: 0
            right: 0
            top: 0//-50%
            z-index: -1
        .intro
            margin: 0 auto
            width: 800px
            height: 100%
            .bottom-fix
                position: absolute
                bottom: 10px
        h1, ul
            margin: 2px -10px
            padding: 0 10px
            background: #FFFFFF
            //background: rgba(255, 255, 255, 0.5)
            
            &.no-pad
                padding: 0

    article
        margin: 0 auto
        width: 800px
    h1, h2, h3, h4, h5, h6
        font-family: Roboto Slab

    p, span, li
        font-family: Oxygen Mono
        font-size: 90%

ol, ul
    &.unmarked
        list-style-type: none
        padding: 0

    &.inline
        list-style-type: none
        padding: 0
        display: inline-block

        li
            display: inline

        &.lg
            li
                &:last-of-type
                    margin-right: 0px
                margin-right: 20px

        &.sm
            li
                &:last-of-type
                    margin-right: 0px
                margin-right: 2px

        &.csv
            li:after
                content: ","
            li:last-of-type:after
                content: ""

a
    text-decoration: none
    &:active, &:hover
        color: inherit
        text-decoration: underline
