---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"

//@import "bootstrap.scss"
@import "abb50a24-d60e-4525-8971-ba853e4ab784.scss"
//@import "font.awesome.scss"
@import "prism.okaidia.scss"

// Some constants
$fntsz: 12
$bleed_margin: 10px
$bleed_margin_neg: -10px

$content_width_narrow: 85vw
$content_width_wide: 700px

$font_family_headings: Montserrat
$font_family_text: Anonymous Pro

$headings_background_hero: #FFF
$headings_background_text: #0D47A1

html,body
    margin: 0
    position: relative

.front
    .backgrounds
        @media (min-width: 768px)
            &
                position: fixed
                z-index: 10
                width: 60vw
                height: 100vh
                top: 0
                right: 0

        @media (max-width: 767px)
            &
                position: relative
                height: 50vh
                width: 100vw

        overflow: hidden

        img.fill
            min-height: 100%
            min-width: 100%

        .icon
            max-width: 100%
            max-height: 150px
            position: absolute
            right: 10px
            top: 10px


    section
        @media (min-width: 768px)
            &
                width: 36vw
                padding: 2vw

            &:first-of-type
                margin-top: 50vh

        @media (max-width: 767px)
            &
                width: 92vw
                padding: 4vw

        color: #000
        font-family: $font_family_headings
        position: relative
        z-index: 2

        h1, h2, h3, h4, h5, h6
            font-family: $font_family_headings

        p, span, li
            font-family: $font_family_text

        a
            color: #000

        .hide
            position: absolute
            width: 1px
            left: -9999px
            top: -99999px

.post
    header
        position: relative
        height: 30%
        height: 40vh
        min-height: 220px
        overflow: hidden
        margin-bottom: 10px

        img.hero
            min-width: 100%
            min-height: 100%
            width: 100%
            position: absolute
            left: 0
            right: 0
            top: 0//-50%
            z-index: -1

        img.icon
            position: absolute
            max-height: 90px
            right: 10px
            top: 10px

        //background: #000

        .intro
            position: relative
            margin: 0 auto
            height: 100%

            .bottom-fix
                position: absolute
                bottom: 10px
                width: 100%

            h1, h2, h3, h4, h5, ul
                display: inline-block
                margin: 2px $bleed_margin_neg
                padding: 2px $bleed_margin
                font-weight: 100
                color: #000
                background: $headings_background_hero
                max-width: 100%
                
                &.no-pad
                    padding: 0

            @media (max-width: 767px)
                &
                    width: $content_width_narrow
            @media (min-width: 768px)
                &
                    width: $content_width_wide

    article
        margin: 0 auto

        @media (max-width: 767px)
            &
                width: $content_width_narrow
        @media (min-width: 768px)
            &
                width: $content_width_wide

        p:first-of-type
            font-weight: 700
            line-height: 1em


    h1, h2, h3, h4, h5, h6
        font-family: $font_family_headings
        font-weight: 200
        //margin: auto auto $bleed_margin $bleed_margin_neg
        //padding: 2px $bleed_margin
        //background: $headings_background_text
        //display: inline-block
        color: #000
        &:after
            content: "\a"
            white-space: pre
            clear: both

    hr
        border: 1px solid #888
        margin: 30px

    p, span, li
        font-family: $font_family_text

    img
        max-width: 100%

    figure
        margin: 0 $bleed_margin_neg
        figcaption
            font-family: $font_family_headings
            font-weight: 200
            padding: 2px $bleed_margin
            color: #000
            display: inline-block
            //background: $headings_background_text

            &:before
                content: "fig. "
                font-family: $font_family_text

    pre[class*="language-"]
        margin: auto $bleed_margin_neg
        border-radius: 0
        padding: $bleed_margin
        p, span, li, h1, h2, h3, h4, h5, h6, code
            font-family: Consolas, Monaco, 'Andale Mono', monospace

.post-list
    h2, h4, p
        margin: 0

    h2, h4
        margin-bottom: 10px

    p:last-of-type
        margin-bottom: 30px
        margin-top: 10px
        font-weight: 700

    &:last-of-type > p:last-of-type
        margin-bottom: 0

.cakes-one
    background: #444
    color: #FFF

    header
        position: relative
        max-width: 20%
        min-height: 100%
        min-height: 100vh
        background: rgba(0, 0, 0, 0.7)
        overflow: scroll
        padding: 0 16px
        z-index: 10

        img.icon
            margin-top: 16px
            max-height: 60px

    h1, h2, h3, h4, h5, h6
        font-family: $font_family_headings
        font-weight: 200

    #canvas-iso
        position: fixed
        z-index: 0
        top: 0
        left: 0

    hr
        border: 1px solid #888
        margin: 30px

    p, span, li
        font-family: $font_family_text

    a, a:visited, a:active, a:focus
        color: #FFF

ol, ul
    &.unmarked
        list-style-type: none
        padding: 0

    &.inline
        list-style-type: none
        padding: 0
        display: inline-block

        li
            display: inline

        &.lg
            li
                &:last-of-type
                    margin-right: 0px
                margin-right: 20px

        &.sm
            li
                &:last-of-type
                    margin-right: 0px
                margin-right: 2px

        &.csv
            li:after
                content: ","
            li:last-of-type:after
                content: ""

a
    text-decoration: none
    &:active, &:hover
        color: inherit
        text-decoration: underline
