<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>0xc0d3.pw</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png?v=BGGv8LRBBv">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png?v=BGGv8LRBBv">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png?v=BGGv8LRBBv">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png?v=BGGv8LRBBv">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png?v=BGGv8LRBBv">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png?v=BGGv8LRBBv">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png?v=BGGv8LRBBv" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png?v=BGGv8LRBBv" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png?v=BGGv8LRBBv" sizes="16x16">
    <link rel="manifest" href="/assets/favicons/manifest.json?v=BGGv8LRBBv">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg?v=BGGv8LRBBv" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico?v=BGGv8LRBBv">
    <meta name="apple-mobile-web-app-title" content="0xc0d3">
    <meta name="application-name" content="0xc0d3">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml?v=BGGv8LRBBv">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="canonical" href="https://0xc0d3.pw">
</head>
