// noop.pw
link(rel="apple-touch-icon", sizes="180x180", href="/img/favicons/apple-touch-icon.png?v=8jjL6Bw88O")
link(rel="icon", type="image/png", href="/img/favicons/favicon-32x32.png?v=8jjL6Bw88O", sizes="32x32")
link(rel="icon", type="image/png", href="/img/favicons/favicon-16x16.png?v=8jjL6Bw88O", sizes="16x16")
link(rel="manifest", href="/img/favicons/manifest.json?v=8jjL6Bw88O")
link(rel="mask-icon", href="/img/favicons/safari-pinned-tab.svg?v=8jjL6Bw88O", color="#5bbad5")
meta(name="theme-color", content="#ffffff")
