/* latin-ext */
@font-face {
    font-family: "Oxygen Mono";
    font-style: normal;
    font-weight: 400;
    src: local("Oxygen Mono"), local("OxygenMono-Regular"), url(/assets/fonts/406c333a-1355-4872-80cd-d6604ac7b64f) format("woff2");
    unicode-range: u+0100-024f, u+1e00-1eff, u+20a0-20ab, u+20ad-20cf, u+2c60-2c7f, u+a720-a7ff
    }
/* latin */
@font-face {
    font-family: "Oxygen Mono";
    font-style: normal;
    font-weight: 400;
    src: local("Oxygen Mono"), local("OxygenMono-Regular"), url(/assets/fonts/ea78ffbe-0b93-49ea-8558-bf45d6995504) format("woff2");
    unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2212, u+2215, u+e0ff, u+effd, u+f000
    }
/* cyrillic-ext */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"), url(/assets/fonts/fd67dcc8-9de6-4127-9c69-c2652d475dfb) format("woff2");
    unicode-range: u+0460-052f, u+20b4, u+2de0-2dff, u+a640-a69f
    }
/* cyrillic */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"), url(/assets/fonts/fe4bd8d3-af78-4b75-add5-8a3009b1e951) format("woff2");
    unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
    }
/* greek-ext */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"), url(/assets/fonts/387fa7bc-cf95-4d62-b672-62faf7930d9f) format("woff2");
    unicode-range: u+1f00-1fff
    }
/* greek */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"), url(/assets/fonts/3c24ff48-c88d-43ec-85fb-c1f81ed07745) format("woff2");
    unicode-range: u+0370-03ff
    }
/* vietnamese */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"), url(/assets/fonts/2d0f5334-32ac-4b6c-9f6a-82f307548cd4) format("woff2");
    unicode-range: u+0102-0103, u+1ea0-1ef1, u+20ab
    }
/* latin-ext */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"), url(/assets/fonts/002aa2a4-2b71-4128-b0c1-a1ac0c7bf3f6) format("woff2");
    unicode-range: u+0100-024f, u+1e00-1eff, u+20a0-20ab, u+20ad-20cf, u+2c60-2c7f, u+a720-a7ff
    }
/* latin */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"), url(/assets/fonts/4fd021de-e7fa-4295-870a-fe17dd1a3b19) format("woff2");
    unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2212, u+2215, u+e0ff, u+effd, u+f000
    }
/* cyrillic-ext */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url(/assets/fonts/4c2d1301-ad52-4371-a123-2ee6cc232482) format("woff2");
    unicode-range: u+0460-052f, u+20b4, u+2de0-2dff, u+a640-a69f
    }
/* cyrillic */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url(/assets/fonts/bed36c9b-1e84-4f7b-b662-0be0232ac09a) format("woff2");
    unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
    }
/* greek-ext */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url(/assets/fonts/402518f1-b951-42ec-9f40-673dd1043659) format("woff2");
    unicode-range: u+1f00-1fff
    }
/* greek */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url(/assets/fonts/28acae50-6552-4630-bf3f-e77c78952f33) format("woff2");
    unicode-range: u+0370-03ff
    }
/* vietnamese */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url(/assets/fonts/c69eda20-f119-40b7-baa6-5c53e7494096) format("woff2");
    unicode-range: u+0102-0103, u+1ea0-1ef1, u+20ab
    }
/* latin-ext */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url(/assets/fonts/557acce6-ecc8-4a4f-99df-4c799acea9f6) format("woff2");
    unicode-range: u+0100-024f, u+1e00-1eff, u+20a0-20ab, u+20ad-20cf, u+2c60-2c7f, u+a720-a7ff
    }
/* latin */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url(/assets/fonts/6c9bd23f-2704-4d94-8382-5a4d68f2e4bb) format("woff2");
    unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2212, u+2215, u+e0ff, u+effd, u+f000
    }
/* cyrillic-ext */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(/assets/fonts/edf7123f-a29c-43e6-80ce-64c2619461cf) format("woff2");
    unicode-range: u+0460-052f, u+20b4, u+2de0-2dff, u+a640-a69f
    }
/* cyrillic */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(/assets/fonts/f855db85-462a-49e6-a590-e50a8f723dcc) format("woff2");
    unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
    }
/* greek-ext */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(/assets/fonts/efb7fe6f-eb34-4bbc-a809-71cd692663b8) format("woff2");
    unicode-range: u+1f00-1fff
    }
/* greek */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(/assets/fonts/029c7832-39f4-4317-acb7-d50936166bff) format("woff2");
    unicode-range: u+0370-03ff
    }
/* vietnamese */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(/assets/fonts/bb9c1959-6464-44c3-8cbb-291726906a55) format("woff2");
    unicode-range: u+0102-0103, u+1ea0-1ef1, u+20ab
    }
/* latin-ext */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(/assets/fonts/59e25b43-8516-44ca-9ca0-1c517c4c56c1) format("woff2");
    unicode-range: u+0100-024f, u+1e00-1eff, u+20a0-20ab, u+20ad-20cf, u+2c60-2c7f, u+a720-a7ff
    }
/* latin */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(/assets/fonts/77ce83dd-8ca0-454c-a67f-682578e1b7c1) format("woff2");
    unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2212, u+2215, u+e0ff, u+effd, u+f000
    }
@font-face {
    font-family: "Oxygen Mono";
    font-style: normal;
    font-weight: 400;
    src: local("Oxygen Mono"), local("OxygenMono-Regular"), url(/assets/fonts/b8c8b39d-373a-43d3-865a-cc29cedb1025) format("truetype")
    }
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"), url(/assets/fonts/6eb3a1cf-14bc-4e79-b0ac-63c969e837ca) format("truetype")
    }
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url(/assets/fonts/d8a679aa-4d5f-4dc7-8c9b-c0449076c5d0) format("truetype")
    }
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(/assets/fonts/695f134b-2537-4e80-8f8b-561fb45886cc) format("truetype")
    }
@font-face {
    font-family: "Oxygen Mono";
    font-style: normal;
    font-weight: 400;
    src: local("Oxygen Mono"), local("OxygenMono-Regular"), url(/assets/fonts/17a7b91c-a211-4f1e-876d-a1fda40ea489) format("woff")
    }
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"), url(/assets/fonts/22594168-be35-4b0f-8ee2-2d131a683ec2) format("woff")
    }
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url(/assets/fonts/e6987eda-8c57-48e6-8512-8c66eb4f8a90) format("woff")
    }
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(/assets/fonts/a4709cb2-2ee8-4256-a898-fa1ec5f9f487) format("woff")
    }
