// noop.pw
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title no-op / fuck
    include ./partials/favicons.jade
    link(rel='stylesheet', href='/css/libraries.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='canonical', href='https://noop.pw/fuck')
  body.fuck
    h1
      span fuck
      ul.scroll
        li her
        li him
        li this
        li the school
        li you
        li it
        li everything
        li life
        li school
        li the future
