extends templates/base.jade

block append content
  .wrapper
    h1 Prashant Sinha
    h2: em Developer at #[a(href='https://joinagora.com/') Agora NHS]
    h2: em Senior year undergrad at #[a(href='https://ducic.ac.in/') University of Delhi]
    h2: a(href='mailto:prashant@ducic.ac.in') prashant@ducic.ac.in
    ul
      li: strong: a(href='http://doom.noop.pw') tumblr
      li: strong: a(href='https://github.com/prashnts') github
      li: strong: a(href='/var/resume.may.nine.pdf') vitae
