extends templates/base.jade

block prepend body
  body.homepage: main
    h1 Prashant Sinha
    h2: em Developer at #[a(href='https://joinagora.com/') Agora NHS]
    h2: em Senior year undergrad at #[a(href='https://ducic.ac.in/') University of Delhi]
    h2: a(href='mailto:prashant@noop.pw') prashant@noop.pw
    ul
      li: strong: a(href='http://doom.noop.pw') tumblr
      li: strong: a(href='https://github.com/prashnts') github
      li: strong: a(href='/resume') vitae
