extends templates/base.jade

block append content
  .resume
    header
      h1 Prashant Sinha
      p Developer

    section
      h2 Web
      ul
        li #[i.icon.link] #[a(href='//noop.pw') noop.pw]
        li #[i.icon.git] #[a(href='//github.com/prashnts') github.com/prashnts]
        li #[i.icon.lock] #[a(href='//keybase.io/prashnts') keybase.io/prashnts]
    section
      h2 Info
      ul
        li #[i.icon.mail] #[a(href='mailto:prashant@noop.pw') prashant@noop.pw]
        li #[i.icon.phone] 091 99 1013 4045
        li #[i.icon.location] New Delhi, India

    section
      h2 Research Interests
      p.
        My primary research interest is in Machine Learning, Data Science,
        Statistics, Systems Biology, and Bio Inspired Systems. The scope of
        my projects also include Pervasive Computing, Reality Mining, and
        Computer Vision.

    section
      h2 Experience
      ul
        li
          aside
            h3.org Agora Events Ltd.
            p.locn London, UK
            p.time #[span February 2016] - #[span Present]
            p.dsgn Developer
            ul.tags
              li Machine Learning
              li Web Development
          div
            h4 Event aggregation and Recommendation
            p In this ongoing project, I am responsible for designing and
              | building a scalable server and API for aggregation,
              | categorisation, and recommendation generation of events from
              | various sources.
        li
          aside
            h3.org Oxyent Technologies
            p.locn New Delhi
            p.time #[span July] -- #[span September 2016]
            p.dsgn Summer Intern
            ul.tags
              li Computer Vision
              li Information Extraction
          div
            h4 Computer Vision and Information Extraction
            p Developed and shipped a utility for digitizing waveforms and
              | extracting metadata from ECG reports, written in pure Python.
              | It is being used at Brigham and Women’s Hospital, Boston for
              | processing more than a million patient records.
            p Also worked on extracting normalized tabular data from scanned
              | medical records. Key challenges here involved handling skewed,
              | desaturated and otherwise low quality images.
        li
          aside
            h3.org Design Innovation Centre
            p.locn University of Delhi
            p.time #[span June] -- #[span August 2015]
            p.dsgn Summer Intern
            ul.tags
              li Machine Learning
              li Time Series Analysis
              li Signal Processing
          div
            h4 Human Activity Recognition from Acceleration data Under
              | Naturalistic Conditions
            p The goal of this project was to develop a system for recognition
              | of low level human activities, such as Walking, Running,
              | Sitting, etc., using a single tri-axial accelerometer time
              | series. The undertaken challenge of this system was to
              | effectively solve the recognition task irrespective of the
              | location of sensor on human body.
            p Using supervised learning method, we trained a Random Forest
              | Classifier using feature vectors obtained via our model. We
              | were able to produce an accuracy of 95% through our model.
        li
          aside
            h3.org West College
            p.locn Scotland
            p.time #[span 14] -- #[span 19 July 2015]
            p.dsgn Workshop
            ul.tags
              li Game Development
          div
            h4 Game Development Workshop under UK-India Education and Research
              | Initiative
        li
          aside
            h3.org University of California and Stanford
            p.locn Santa Cruz
            p.time #[span January] -- #[span May 2015]
            p.dsgn Research Associate
            ul.tags
              li Data Scraping
              li Data Processing
          div
            h4 Aspiring Researcher Challenge
            p As a research associate, I was part of the team which was
              | responsible for developing a large, online experiment to study
              | the wisdom of the crowd where I formulated the algorithm for
              | scraping and formatting raw data off multiple crowdfunding
              | platforms.
            p #[strong Publication]: "Investigating the 'Wisdom of Crowds' at
              | Scale", ACM UIST 2015, Charlotte, NC.
        li
          aside
            h3.org Survaider
            p.locn New Delhi
            p.time #[span January 2015] -- #[span February 2016]
            p.dsgn Developer and UI/UX Designer
            ul.tags
              li Backend and REST API
              li Client Interface
              li Analytics
          div
            h4 Survaider Web App and Survey Builder
            p Development of web app backend and REST API in Python using Flask
              | and MongoEngine ORM.
            p Design and development of the frontend. Technology stack includes
              | usage of CoffeeScript, BackboneJS, SASS, and Socket.IO for
              | realtime content.
            p #[strong Website]:
              |  #[a(href='//survaider.com') survaider.com]

