extends templates/base.jade

block append content
  .resume
    header
      h1 Prashant Sinha
      p Developer

    section
      h2 Web
      ul
        li #[i.icon.link] #[a(href='//noop.pw') noop.pw]
        li #[i.icon.git] #[a(href='//github.com/prashnts') github.com/prashnts]
        li #[i.icon.lock] #[a(href='//keybase.io/prashnts') keybase.io/prashnts]
    section
      h2 Info
      ul
        li #[i.icon.mail] #[a(href='mailto:prashant@noop.pw') prashant@noop.pw]
        li #[i.icon.phone] 091 99 1013 4045
        li #[i.icon.location] New Delhi, India

    section
      h2 Hodor.
      p Hodor.
    section
      h2 Hodor.
      ul
        li
          aside
            h3.org Hodor.
            p.locn Hodor.
            p.time Hodor.
            p.dsgn Hodor.
            ul.tags
              li Hodor.
              li Hodor.
          div
            h4 Hodor.
            p Hodor.
