<!DOCTYPE html>
<html>
{% include head.html %}
<body class="front">
    <div class="backgrounds">
    </div>
    <section class="info">
        <h1>Prashant Sinha</h1>
        <ol class="unmarked">
            <li><a target="_blank" href="http://pattern.ducic.ac.in/">Laboratory for Pattern Engineering</a></li>
            <li><a target="_blank" href="https://ducic.ac.in/">Cluster Innovation Centre, University of Delhi</a></li>
            <li><a href="mailto:prashant@ducic.ac.in">prashant@ducic.ac.in</a></li>
        </ol>
        <ol class="inline lg">
            <li><a href="https://github.com/prashnts">GitHub</a></li>
            <li><a href="https://raw.githubusercontent.com/PrashntS/shadow-fort/master/projects/resume/resum%C3%A8_prashant_sinha.pdf">Resumé</a></li>
        </ol>
    </section>
    {{ content }}

    <script type="text/javascript" src="/assets/js/prism.js"></script>
</body>
</html>
