<!DOCTYPE html>
<html>
{% include head.html %}
<body class="post">
    <header>
        <img src="/assets/img/BerkeleyAndBayAtNight.jpg" class="hero">
        <div class="intro">
            <a href="/"><img src="/assets/img/codeandcakesdark_.png" alt="Hallows - Logo" class="icon"></a>
            <div class="bottom-fix">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
    </header>
    <article>
        {{ content }}
        <hr>
        <ul class="inline lg csv">
            <li>Posted on {{ page.date | date: "%b %-d, %Y" }}</li>
            <li>under {
                <ul class="inline sm csv no-pad">
                    {% for cat in page.categories %}
                        <li>{{ cat }}</li>
                    {% endfor %}
                </ul>
                }
            </li>
        </ul>
    </article>
    {% include footer.html %}
    <script type="text/javascript" src="/assets/js/prism.js"></script>
</body>
</html>

