<!DOCTYPE html>
<html>
{% include head.html %}
<body class="post">

    <div class="hero">
        <img src="{{ page.hero }}">
    </div>

    <header>
        <h1>{{ page.title }}<small>{{ page.subtitle }}</small></h1>
        <ul class="inline lg">
            <li>{{ page.date | date: "%b %-d, %Y"}}</li>
            <li>{{ page.author }}</li>
        </ul>
    </header>
    <article>
        {{ content }}
    </article>
    <script type="text/javascript" src="/assets/js/prism.js"></script>
</body>
</html>
