<!DOCTYPE html>
<html>
{% include head.html %}
<body class="post">

    <header>
        <img src="{{ page.hero }}">
        <div class="intro">
            <div class="bottom-fix">
                <h1>{{ page.title }}</h1>
                <ul class="inline lg csv">
                    <li>{{ page.date | date: "%b %-d, %Y"}}</li>
                    <li>Posted in {
                        <ul class="inline sm csv no-pad">
                            {% for cat in page.categories %}
                                <li>{{ cat }}</li>
                            {% endfor %}
                        </ul>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <article>
        {{ content }}
    </article>
    <script type="text/javascript" src="/assets/js/prism.js"></script>
</body>
</html>
