<!DOCTYPE html>
<html>
{% include head.html %}
<body class="project-one">
    <div class="wrapper">
        <header>
            <h1>Minimal</h1>
            <p>A Theme for GitHub Pages</p>
            <p class="view"><a href="http://github.com/orderedlist/minimal">View the Project on GitHub <small>orderedlist/minimal</small></a></p>
            <ul>
                <li><a href="https://github.com/orderedlist/minimal/zipball/master">Download <strong>ZIP File</strong></a></li>
                <li><a href="https://github.com/orderedlist/minimal/tarball/master">Download <strong>TAR Ball</strong></a></li>
                <li><a href="http://github.com/orderedlist/minimal">Fork On <strong>GitHub</strong></a></li>
            </ul>
        </header>
        <section>
            {{ content }}        
        </section>


        <footer>
            <a href="/"><img src="/assets/img/codeandcakesdark_.png" alt="Hallows - Logo" class="icon"></a>
            <img src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png">
        </footer>
    </div>
</body>
<script type="text/javascript" src="/assets/js/prism.js"></script>
</html>