// 0xc0d3.pw

html,body
  margin: 0
  position: relative
  font-family: Courier, monospace
  padding: 0 20px
  background: #fdf6e3
  display: flex
  align-items: center
  min-height: 100%


h1, h2
  margin: 0
  max-width: 500px
  margin-bottom: 2px

h1
  font-size: 1.5em
  color: #586e75
  margin-bottom: 10px

h2
  font-size: 1em
  font-weight: 100
  color: #657b83

em
  font-style: initial

ul
  margin: 0
  margin-top: 50px
  list-style-type: none
  padding: 0

  li
    display: inline-block
    margin-right: 10px

a
  text-decoration: none
  color: #268bd2

  &:active, &:visited
    color: #268bd2

  &:hover
    text-decoration: underline
    color: #268bd2

strong
  a
    color: #6c71c4
    &:active, &:visited, &:hover
      color: #6c71c4
