// noop.pw
@require _solarized
@require _typeface

html, body
  align-items center
  display flex
  font 14px/1.5em 'Fira Code', Courier, monospace
  font-feature-settings "calt" 1
  margin 0
  min-height 100%
  padding 0 20px
  position relative
  text-rendering optimizeLegibility

body
  background $base02

h1, h2
  margin 0
  max-width 500px
  margin-bottom 2px

h1
  font-size 1.5em
  color #586e75
  margin-bottom 10px

h2
  font-size 1em
  font-weight 100
  color #657b83

em
  font-style initial

ul
  margin 0
  margin-top 50px
  list-style-type none
  padding 0

  li
    display inline-block
    margin-right 10px

a
  text-decoration none
  color #268bd2

  &:active, &:visited
    color #268bd2

  &:hover
    text-decoration underline
    color #268bd2

strong
  a
    color #6c71c4
    &:active, &:visited, &:hover
      color #6c71c4
