// noop.pw
@require _solarized
@require _typeface
@require _axis

body.zen
  min-height 100%
  font 16px/1.5em type-karla

  section.slide
    min-height 100vh
    box-sizing border-box

    .content
      max-width 800px
      margin auto
      padding 10px

#about
  padding-top 20%
  background #1E1D20
  color #fff
  font-weight 300
