// noop.pw
@require _solarized
@require _typeface
@require _axis

body.vita
  background $base03
  letter-spacing 0
  padding 0

  main
    max-width 800px
    margin 0 auto
    background #fff
    padding 20px 50px 50px
    color $base03
    position relative

    &:before, &:after
      content ' '
      top 0
      z-index 10
      left 50px
      right 50px
      height 10px
      background $blue
      position absolute
      @media(max-width 768px)
        left 30px
        right 30px
    &:after
      bottom 0
      top auto

    @media(max-width 768px)
      padding 20px 30px

  a, span
    position relative
    i
      position absolute
      left -1.5em
      color $base0
  a
    color $base03
    &:after
      content ''
      position absolute
      background $base03
      bottom -1px
      right 0
      height 1px
      width 8px

  h1, h2, h3
    font-family 'Helvetica Neue', 'Helvetica', sans-serif
    color $base02

  p, dl, dd, h1, h2, h3
    margin 0
  ul
    reset-list()

  code
    padding 2px 5px
    font-family type-fira
    border-radius 2px
    background alpha($base0, 0.2)

  dl
    div
      display flex
    dt
      width 80px
      font-weight 500

  header
    h1
      font-weight 400
      margin 20px 0 10px
      span
        font-weight 500

  section
    h1
      color $blue
      display inline-block
      padding-top 0.1em
      text-transform uppercase
      font-size 1.1em
      letter-spacing 1px
      margin 20px 0 10px
      border-top 0.2em solid
    h2
      font-size 1.2em
      font-weight 500

  section.xp, section.edu
    > ul > li
      display flex
      margin-bottom 20px
      h3
        font-size 1.2em
        letter-spacing 0.5px
        font-weight 500
      aside
        width 30%
        margin-right 20px
        flex-shrink 0
        p.dates
          font-weight 500
          margin 5px 0
        p.position
          border-left 3px solid $blue
          line-height normal
          margin 5px 0
          padding-left 9px
          text-align left
          font-weight 500
        ul.tags
          padding-left 12px
          color $base02
        i
          opacity 0.5
      div.description
        text-align justify
        h3, p
          margin-bottom 10px

      @media(max-width 768px)
        display block
        margin 0 -30px
        padding 10px 30px
        &:nth-of-type(2n)
          background tint($cyan, 60%)
        &:nth-of-type(2n + 1)
          background tint($blue, 80%)
        aside
          width auto
          i
            color $base03
        div.description
          margin-top 5px
          text-align left
          h3
            font-weight 400
            font-size 1.1em

  section.info
    display flex
    @media(max-width 768px)
      display block
    div
      flex 1

  section.cover
    padding-right 30%
    text-align justify

    @media(max-width 768px)
      padding-right 0
      text-align left

  section.skills
    > ul
      display flex
      > li
        margin-right 30px
        flex 1
        &:last-child
          margin 0
      @media(max-width 768px)
        display block
        > li
          margin 0 0 10px
    i
      font-style normal
      float right
      font-size 1.2em
      letter-spacing 2px
      color $blue
