// noop.pw
@require _solarized
@require _typeface
@require _axis

body.vita
  // background #eee
  letter-spacing 0
  padding 0
  interpolate-size allow-keywords

  $accent = $violet

  @media print
    background $white

  span.onlyprint
    display: none

    @media print
      display: block


  main
    max-width 800px
    margin 0 auto
    background #fff
    padding 20px 50px 0
    color $base03
    position relative
    font 14px/1.5em type-karla

    @media print
      font 13px/1.3em type-karla
      padding 0

    &:before
      content ' '
      top 0
      z-index 10
      left 50px
      right 50px
      height 10px
      background $accent
      position absolute
      @media(max-width 768px)
        left 30px
        right 30px

      @media print
        display none

    @media(max-width 768px)
      padding 20px 30px 0

  @media print
    .no-print
      display none

  a, span
    position relative
    i
      position absolute
      left -1.8em
      color $base0
      opacity .5
      &.emoji
        font-style normal
        opacity .9
        left -1.5em
        font-size 1em
  a
    color $base03
    border 0
    &:after
      content ''
      position absolute
      background $base03
      bottom -1px
      right 0
      height 1px
      width 8px
      // transition .1s width
      @media print
        display none
    &:hover
      background alpha($base03, .1)
      &:after
        width 100%

  h1, h2, h3
    font-family type-karla
    color $base02
    font-weight 600

  p, dl, dd, h1, h2, h3
    margin 0
  ul
    reset-list()

  code
    padding 2px 5px
    font-family type-fira
    border-radius 2px
    background alpha($base0, .2)

    @media print
      background transparent
      padding 0

  dl
    div
      display block
    dt
      width 80px
      font-weight 600

  a.btn_42
    background $base4
    padding 3px 5px
    border-radius 3px
    color #fff
    border 2px solid transparent

    &:hover, &:focus
      border: 2px solid $base02

    &.main
      background $violet
      font-size 1.3em

    &:after
      content unset

    @media print
      display none


  header
    display flex
    justify-content space-between
    align-items center
    flex-wrap wrap

    h1
      font-weight 400
      margin 20px 0 10px
      span
        font-weight 600


  section
    h1
      color $accent
      display inline-block
      text-transform uppercase
      font-size 1.1em
      letter-spacing 1px
      margin 20px 0 10px
      position relative
      &:before
        content ' '
        position absolute
        width calc(100% - 1px)
        height 2px
        bottom 0
        margin-bottom -2px
        border-radius 2px
        background $accent
    h2
      font-size 1.2em
      border-left 3px solid $base2
      line-height normal
      margin 5px 0 0 -12px
      padding-left 10px
  
  input.filteredinput
    position sticky
    display none
    top 5px
    left -2000px
    visibility hidden

  .controls.top
    position fixed
    right 2px
    top unset
    bottom 8vh
    z-index 2000
    padding 8px
    border-radius 5px

    border 1px solid rgba(0, 0, 0, 0.1)

    > div
      flex-flow column
      align-items flex-start

      > span
        opacity .7
        text-transform uppercase
        font-size: .9em

    @media print
      display none

  .controls
    position sticky
    top 0
    z-index 1000
    margin 20px 0 10px -5px

    display flex
    gap 5px
    justify-content space-between
    align-items center
    flex-wrap wrap
    padding 5px 8px 10px 5px
    background rgba(255, 255, 255, 0.6)
    backdrop-filter blur(3px)
    border-radius 3px

    > div
      gap 5px
      display flex
      @media print
        display none
      
    @media print
      backdrop-filter none

    h1
      margin 0

    .fbtn
      padding 2px 10px
      border-radius 3px
      color #fff
      cursor pointer
      opacity 1
      background transparent

      &:before
        content "⎕"
        margin-right 5px

    .fbtn.uni
      color $yellow
      border 1px solid $yellow
    .fbtn.pro
      color $blue
      border 1px solid $blue


  section.xp
    li.academic, li.pro
      visibility hidden
      max-height 0
      height 0
      margin-bottom 0
      overflow hidden
      opacity 0
      transition all 1s ease

  #filter_checkbox:checked ~ .xp .academic
    visibility visible
    height auto
    max-height 900px
    margin-bottom 20px
    overflow visible
    opacity 1

  
  #filter_checkbox:checked ~ .controls .fbtn.uni
    opacity 0.8
    background $yellow
    color $white
    &:before
      content "✓"

  #filter_professional:checked ~ .xp .pro
    visibility visible
    height auto
    max-height 900px
    margin-bottom 20px
    overflow visible
    opacity 1

  
  #filter_professional:checked ~ .controls .fbtn.pro
    opacity 0.8
    background $blue
    color $white
    &:before
      content "✓"

  li.pro
    h2.company, p.position
      border-left 3px solid $blue !important

  li.academic
    h2.company, p.position
      border-left 3px solid $yellow !important

  section.xp, section.edu, section.talks, section.open_source, section.publications
    > ul > li
      display flex
      margin-bottom 20px
      h3
        font-size 1.2em
        letter-spacing .5px
        font-weight 600
      aside
        width 30%
        margin-right 20px
        flex-shrink 0
        p.location
          margin 5px 0
        p.dates
          font-weight 400
          font-family type-fira
          margin 5px 0
          span.duration
            font-weight 300
            font-size .9em
            display block
            color $base01
        p.position
          border-left 3px solid $base2
          line-height normal
          margin 5px 0 0 -12px
          padding-left 10px
          text-align left
          font-weight 600
        ul.tags
          padding-left 12px
          color $base02
        i
          opacity .5
      div.description
        // text-align justify
        h3, p
          margin-bottom 10px

        ul
          list-style disc
          padding 0 10px
          margin 0

          li
            list-style inherit
        
        div.extra_links
          margin-left -0.7em
          margin-top 5px
          margin-bottom 5px
          ul
            list-style none

      .inline_info
        display flex
        gap 20px

      @media screen and (max-width 768px)
        display block
        margin 10px -30px
        padding 0px 30px
        &:nth-of-type(2n)
          //background tint($cyan, 60%)
        &:nth-of-type(2n + 1)
          //background tint($accent, 80%)
        aside
          width auto
          i
            color $base03
        div.description
          margin-top 5px
          text-align left
          h3
            font-weight 600
            font-size 1.1em

      @media print
        margin-bottom 10px
        page-break-inside avoid

  section.info
    display flex
    @media screen and (max-width 768px)
      display block
      li
        margin 4px 0
    div
      flex 1
      font-family type-karla

  section.cover, section.open_source
    padding-right 30%
    // text-align justify

    @media(max-width 768px)
      padding-right 0
      text-align left

  section.skills
    display: none
    > ul
      display flex
      > li
        margin-right 30px
        flex 1

        &:last-child
          margin 0
      @media screen and (max-width 768px)
        display block
        > li
          margin 0 0 10px
      i
        font-style normal
        font-size 1.2em
        letter-spacing 2px
        color $accent
      span.skill
        font-style normal
      li.skill
        display flex
        justify-content space-between

        .labels
          display flex
          color $base01
          position relative

          .dots
            position absolute
            right 0

  footer
    margin-top 60px
    padding 5px 0
    color alpha(#000, .6)
    font-size .8em
    code
      background alpha($base03, .2)
    a
      color inherit
      &:after
        background alpha($base3, .4)
    ul
      display flex
      justify-content space-between
      flex-wrap wrap
      i
        position relative
        left 2px
    code.kthx
      display block
      background none
      margin 5px auto 0
      width 30px
      opacity .4

    @media print
      display none
